@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: rgba(0, 0, 0, 0.6);
}

img {
  max-width: 100%;
  
}

h1,
h2 {
  margin-bottom: 15px;
  
}

ul {
  list-style-type: none;
}



.navbar {
  background-image: url(/images/tennis-wallpaper-darker.png);
  background-position: top;
  background-size: cover;
  height: 60px;
  
}

.navbar .logo {
  font-size: x-large;
  font-weight: bold;
  color: white;
}

.navbar a {
  
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}




.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin-left: 20px;
}

.dropknapp{
  
  padding: 15px;
  max-height: 65px;
  border: none;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.3);
  
}
.line{
  width: 25px;
  height: 2px;

}
.dropdown{
  position: relative;
  display: inline-block;
  

  
  

  z-index:1 ;
}
.content a{
  color:white;
  padding: 12px 15px;
  display: block;
  text-decoration: none;
  
  

}
.content{
  display: none;
  background-color: black;
  position: absolute;
  min-width: 130px;
  z-index: 1;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.6);
  
  
}

.content a:hover {
  
  background: linear-gradient(to right, Lightgreen, rgb(250, 220, 88));
  color:#333;
  transition: 0.5s;
}
.dropdown:hover .content {
  display: block;}
.dropdown:hover .dropknapp {background-color: rgba(255, 255, 255, 0.8);}



/*-------------------------------------här börjar Main/Header------------------------------------------*/




.container {
  
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
  position: relative;
  

}

.container1 {
  
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
  position: relative;
  border-radius: 5px;
  width: 80%;
  

}

.header {
  text-align: center;
  color: rgba(255, 255, 255, 1);
  min-height: 700px;
  padding-top: 40px;
  background-image: url(/images/tennis-wallpaper-darker.png);  
  background-size: cover;
  background-position: center;
  
  
}

.header h1 {
  
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2;
  

}

.header img {
  max-width: 400px;
  
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  
}




/*-------------------------------------här börjar footer------------------------------------------*/

.boxes1 .container {
  display: flex;
  justify-content: space-between;
}

.box {
  flex: 1;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  border-radius: 10px;
  margin: 20px 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.6);
  padding: 15px 20px;
}
.boxes1 .container :hover {
    background: linear-gradient(to right, Lightgreen, rgb(250, 220, 88));
   color: rgba(0, 0, 0, 0.6);
   transition: 0.5s;
  }s

.box i {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .header .container {
    flex-direction: column;
    padding-top: 20px;
    text-align: center;
  }

  .boxes1 .container {
    display: block;
    text-align: center;
  }
}
